# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import numpy as np
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [16]:
pd.Series = lst
pd.Series

[5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [20]:
print (lst)

[5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [22]:
print (lst[2])

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [24]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [26]:
pd.DataFrame = b
pd.DataFrame

[[53.1, 95.0, 67.5, 35.0, 78.4],
 [61.3, 40.8, 30.8, 37.8, 87.6],
 [20.6, 73.2, 44.2, 14.6, 91.8],
 [57.4, 0.1, 96.1, 4.2, 69.5],
 [83.6, 20.5, 85.4, 22.8, 35.9],
 [49.0, 69.0, 0.1, 31.8, 89.1],
 [23.3, 40.7, 95.0, 83.8, 26.9],
 [27.6, 26.4, 53.8, 88.8, 68.5],
 [96.6, 96.4, 53.4, 72.4, 50.1],
 [73.7, 39.0, 43.2, 81.6, 34.7]]

### 5. Rename the data frame columns based on the names in the list below.

In [39]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [37]:
pd.DataFrame_colnames = pd.DataFrame(columns = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5'])
pd.DataFrame_colnames

TypeError: 'list' object is not callable

In [32]:
pd.DataFrame(columns = colnames)
pd.DataFrame

TypeError: 'list' object is not callable

In [42]:
pd.DataFrame = pd.DataFrame(columns=dict(zip(pd.DataFrame.columns, colnames)))

AttributeError: 'list' object has no attribute 'columns'

In [40]:
pd.DataFrame.columns = colnames
pd.DataFrame

AttributeError: 'list' object has no attribute 'columns'

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [47]:
pd.DataFrame_sub = pd.DataFrame[1,3,5]
pd.DataFrame_sub

TypeError: list indices must be integers or slices, not tuple

### 7. From the original data frame, calculate the average Score_3 value.

### 8. From the original data frame, calculate the maximum Score_4 value.

### 9. From the original data frame, calculate the median Score 2 value.

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [49]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [52]:
pd.orders = orders
pd.orders

{'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [54]:
pd.Series(pd.orders)

TypeError: 'list' object is not callable

In [ ]:
dictionary = {'D': 10, 'B': 20, 'C': 30}
 
# create a series
series = pd.Series(dictionary)
 
print(series)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.